@import 'tailwindcss';

:root {
  --background: #ffffff;
  --primary: #10442a;
  --secondary: #84d322;
}

html {
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-satoshi);

  --shadow-apple:
    0 0 20px rgba(0, 0, 0, 0.06), 0 0 40px rgba(0, 0, 0, 0.04),
    0 0 80px rgba(0, 0, 0, 0.02);

  --transition-smooth: all 300ms ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #303231;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-inter), var(--font-satoshi), Arial, Helvetica, sans-serif;
}
